

## Python
bachelor-venv/
contracts/
src/datasets
src/.#*
data/
tmp/
__pycache__/


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# these rules might exclude image files for figures etc.
# *.ps
# *.eps
*.pdf

*#
literature/
temp/
